.brand {
  display: inline-block;
  padding-left: .5em;
}

.brand-title,
.brand-description {
  display: block;
}

.brand-description {
  font-size: 14px;
}

.brand-title {
  font-size: 22px;
  font-weight: bold;
}

.contacts {
  font-size: 15px;
  font-weight: normal;
}

.location {
  &:link,
  &:visited {
    text-decoration: none;
    color: white;
  }
}

.phone-number {
  &:link,
  &:visited {
    text-decoration: none;
    color: white;
  }
}