@include media-breakpoint-up(xs) {
  .search {
    margin-top: 5px;
    display: block;
    width: 100%;
  }

  .search-button {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .search {
    margin-top: 0;
    display: inline;
    width: auto;
  }

  .search-button {
    display: inline;
    width: auto;
    margin-top: 0;
  }
}
