<!doctype html>
<html class="h-100" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="Ремонт Сотик">
  <meta property="og:type" content="website">
  <meta property="og:description"
        content="Сервис по ремонту телефонов, планшетов и компьютеров">
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:content" content="text/html">
  <meta property="og:url" content="{{ request.build_absolute_uri() }}" />
  <meta name="yandex-verification" content="fcb4d93e3e2e0dae" />
  <meta name="Description" content="Ремонт телефонов, планшетов, ноутбуков в г.Казани" />

  <title>РемонтСотик</title>

  <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>
  <script src="{{ static('bundle.js') }}"></script>
  <style>
    body {
      background-image: url("{{ static('img/bg.png') }}");
      background-size: 512px;
      background-repeat: repeat;
    }
  </style>
  {% block styles %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
  <main role="main" class="flex-shrink-0">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ url('create_ticket') }}">
          <img src="{{ static('img/logo.svg') }}"
               class="logo d-inline-block align-center" alt="">
          <div class="brand">
            <span class="brand-title">Ремонт Сотик</span>
            <span class="brand-description">Сервисный центр</span>
          </div>
        </a>
        <div class="text-white text-right contacts">
          <div><a class="location" target="_blank" href="https://yandex.ru/maps/-/CGc3jM5D">г.Казань, Академика Глушко, 17</a></div>
          <div><a class="phone-number" href="tel:+79872694212">+7 987 269–42–12</a></div>
        </div>
      </div>
    </nav>
    <div class="container page">
      <div class="row status content">
        <div class="col-md-12">
          <div class="offset-lg-3 col-lg-6">
            <h3 class="text-center">Отследить статус заявки</h3>
            <form class="form" method="GET" action="{{ url('ticket_search') }}">
              <div class="input-group">
                <input type="text" class="form-control"
                       id="search" name="number"
                       placeholder="Введите номер заявки"
                       aria-label="Введите номер заявки"
                       aria-describedby="search-button">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"
                          id="search-button">Найти</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
      <div class="row social content">
        <div class="col-md-12">
          <div class="offset-lg-3 col-lg-6">
            <h3 class="text-center text-white">Мы ВКонтакте</h3>
            <div id="vk_widget"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer mt-auto py-4">
    <div class="container">
      <div class="text-muted">
        <div itemscope itemtype="http://schema.org/LocalBusiness">
          <small itemprop="name">© 2019 РемонтСотик</small>
          <time
            itemprop="openingHours"
            datetime="Tu,We,Th,Fr,Sa,Su 10:00−20:00">
          </time>
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <small itemprop="streetAddress">Академика Глушко, 17</small>
            <small itemprop="postalCode">420100</small>
            <small itemprop="addressLocality">Казань</small>
          </div>
          <small itemprop="telephone">+7 987 269–42–12</small>
        </div>
      </div>
    </div>
  </footer>
{% block scripts %}{% endblock %}
{% if not DEBUG %}
<script type="text/javascript">
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  ym(54843271, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
</script>
<noscript>
  <div>
    <img src="https://mc.yandex.ru/watch/54843271" style="position:absolute; left:-9999px;" alt="" />
  </div>
</noscript>
{% endif %}

  <script type="text/javascript">
    function debounce(f, ms) {
      let isCooldown = false;
      let handle;
      return function() {
        if (isCooldown) return;
        isCooldown = true;
        clearTimeout(handle);
        handle = setTimeout(() => {
          isCooldown = false;
          f.apply(this, arguments);
        }, ms);
      };
    }
    function VK_Widget_Init(){
      var getWidth = document.getElementById("vk_widget").clientWidth;
      document.getElementById('vk_widget').innerHTML = '<div id="vk_groups"></div>';
      VK.Widgets.Group(
          "vk_groups",
          {mode: 4, width: getWidth, height: "400"},
          185262223,
      );
    }
    window.addEventListener('load', VK_Widget_Init, false);
    window.addEventListener('resize', debounce(VK_Widget_Init, 500), false);
  </script>

</body>
</html>
