{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="Ремонт Сотик">
  <meta property="og:type" content="website">
  <meta property="og:description"
        content="Сервис по ремонту телефонов, планшетов и компьютеров">
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:content" content="text/html">
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />

  <title>Ремонт телефонов</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/font-awesome.min.css' %}">
  <style>
    .btn,
    .form-control,
    .input-group-text {
      border-radius: 0; !important;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
    <a href="/" class="navbar-brand">Ремонт Сотик</a>
  </nav>
  <div class="container">
  {% block content %}{% endblock %}
  </div>

  <script src="{% static 'vendor/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'vendor/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>