<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="Ремонт Сотик">
  <meta property="og:type" content="website">
  <meta property="og:description"
        content="Сервис по ремонту телефонов, планшетов и компьютеров">
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:content" content="text/html">
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />

  <title>Ремонт телефонов</title>
  <script src="{{ static('bundle.js') }}"></script>
  {% block styles %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
    <a class="navbar-brand" href="{{ url('create_ticket') }}">
      <img src="{{ static('img/logo.svg') }}" class="logo" alt="">
    </a>
  </nav>
  <div class="container">
  {% block content %}{% endblock %}
  </div>
{% block scripts %}{% endblock %}
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(54843271, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript>
  <div>
    <img src="https://mc.yandex.ru/watch/54843271" style="position:absolute; left:-9999px;" alt="" />
  </div>
</noscript>
</body>
</html>