{% extends 'base.html' %}

{% block scripts %}
{#  <script src="{{ static('tickets.js') }}"></script>#}
  <script src="{{ static('phone.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="offset-lg-3 col-lg-6 ticket-form-container">
    <h3 class="text-center">Заявка на ремонт телефона</h3>
    <form id="ticket-form" class="my-4" method="POST">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <div class="form-group">
        <label for="name">Ваше имя:</label>
        <input type="text" class="form-control" id="name"
               name="name"
               aria-describedby="phone-model-help"
               placeholder="Введите ваше имя">
        <small id="phone-model-help" class="form-text text-muted">
          Как мы можем к вам обращаться?
        </small>
      </div>
      <div class="form-group" id="phone">
        <label for="phone-model">Модель телефона:</label>
        <input type="text" class="form-control" id="phone-model"
               name="phone_model" aria-describedby="phone-model-help"
               placeholder="Введите модель телефона">
        <small id="phone-model-help" class="form-text text-muted">
          Например, iphone x
        </small>
      </div>
      <div class="form-group">
        <label for="malfunction">Неисправность:</label>
        <textarea class="form-control" id="malfunction"
                  aria-describedby="malfunction-help"
                  required rows="2" name="malfunction"
                  placeholder="Опишите вашу проблему"></textarea>
        <small id="phone-model-help" class="form-text text-muted">
          Телефон не включается, треснул экран и т.п.
        </small>
      </div>
      <div class="form-group">
        <label for="phone-number">Номер телефона для связи:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">+7</span>
          </div>
          <input type="number" name="phone_number"
                 class="form-control no-arrows" id="phone-number" required
                 placeholder="1234567890">
        </div>
        <small id="phone-number-help" class="form-text text-muted">
          Мы свяжемся с вами по указанному номеру
        </small>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email"
               aria-describedby="email-help" name="email"
               placeholder="Введите email">
        <small id="email-help" class="form-text text-muted">
          Вы будете получать уведомления о ходе работы на указанный email
        </small>
      </div>
      <div class="form-group">
        <label for="phone-number">Ваш адрес:</label>
        <input type="text" class="form-control" id="address"
               aria-describedby="address-help"
               placeholder="Введите адрес" name="address">
        <small id="address-help" class="form-text text-muted">
          Наш сотрудник заберет ваш телефон для ремонта
        </small>
      </div>
{#      <select id="images" name="images" hidden multiple></select>#}
    </form>
{#    <div class="form-group FileUploader">#}
{#      <input class="FileUploader--input" hidden type="file"#}
{#             accept=".jpg, .jpeg, .png" multiple>#}
{#      <ul class="list-group list-group-flush FileUploader--list"></ul>#}
{#      <button class="btn btn-outline-primary btn-block FileUploader--select">#}
{#        Добавить фото#}
{#      </button>#}
{#    </div>#}
    <button type="submit" id="submit" class="btn btn-block btn-primary"
            form="ticket-form">
      Отправить
    </button>
    <br>
    <small class="text-muted">
      * Нажимая на кнопку "Отправить" вы соглашаетесь на передачу и обработку
      своих персональных данных, указанных в форме, согласно
      Федеральному закону "О персональных данных"
      от 27.07.2006 РФ&nbsp;№152&nbsp;-&nbsp;ФЗ.
    </small>
  </div>
</div>
{% endblock %}
