{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h2 class="text-center">Восстановление пароля</h2>
      <br/>
      <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
      <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text icon">@</span>
          </div>
          <input id="password" type="password" placeholder="Новый пароль"
                 name="new_password1"
                 value="{{ form.new_password1.value|default_if_none:'' }}"
                 class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" />
          <div class="invalid-feedback">
            {{ form.new_password1.errors.0 }}
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text icon">@</span>
          </div>
          <input id="password" type="password" placeholder="Подтвердите пароль"
                 name="new_password2"
                 value="{{ form.new_password2.value|default_if_none:'' }}"
                 class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" />
          <div class="invalid-feedback">
            {{ form.new_password2.errors.0 }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Сбросить пароль</button>
      </form>
    </div>
  </div>
{% endblock %}
