{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h2 class="text-center">Восстановление пароля</h2>
      <br/>
      <p>
        Мы отправим вам письмо с инструкцией для восстановления пароля.
      </p>
      <form action="{% url 'password_reset' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text icon">@</span>
          </div>
          <input id="email" type="email" placeholder="Email адрес"
                 name="email"
                 value="{{ form.email.value|default_if_none:'' }}"
                 class="form-control {% if form.email.errors %}is-invalid{% endif %}" />
          <div class="invalid-feedback">
            {{ form.email.errors.0 }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Сбросить пароль</button>
      </form>
    </div>
  </div>
{% endblock %}