<container>
  <spacer size="16"></spacer>
  <row>
    <columns small="12">
      {% if ticket.status.id == 1 %}
      <h3>
        {% if ticket.name  %}
          Здравствуйте, \{{ ticket.name }}!
        {% else %}
          Здравствуйте!
        {% endif %}
      </h3>
      {% elif ticket.name %}
        <h3>\{{ ticket.name }}</h3>
      {% endif %}
      <p>\{{ ticket.status.description }}</p>
    {% with link=absolute_url(ticket.get_absolute_url()) %}
      <p>Вы можете проверить состояние вашей заявки в любое время воспользовавшись ссылкой <a href="\{{ link }}">\{{ link }}</a></p>
    {% endwith %}
      <br>
    </columns>
  </row>
</container>
