{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h2 class="text-center">Регистрация</h2>
      <br />
      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors.0 }}
        </div>
      {% endif %}
      <form action="{% url 'django_registration_register' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text icon">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input id="username" type="text" placeholder="Имя пользователя"
                 name="username"
                 value="{{ form.username.value|default_if_none:'' }}"
                 class="form-control {% if form.username.errors %}is-invalid{% endif %}" />
          <div class="invalid-feedback">
            {{ form.username.errors.0 }}
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text icon">@</span>
          </div>
          <input id="email" type="email" placeholder="Email адрес"
                 name="email"
                 value="{{ form.email.value|default_if_none:'' }}"
                 class="form-control {% if form.email.errors %}is-invalid{% endif %}" />
          <div class="invalid-feedback">
            {{ form.email.errors.0 }}
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text icon">🔒</span>
          </div>
          <input id="password1" type="password" placeholder="Пароль"
                 name="password1"
                 value="{{ form.password1.value|default_if_none:'' }}"
                 class="form-control {% if form.password1.errors %}is-invalid{% endif %}" />
          <div class="invalid-feedback">
            {{ form.email.errors.0 }}
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend icon">
            <span class="input-group-text icon">🔒</span>
          </div>
          <input id="password2" type="password"
                 placeholder="Повторите пароль"
                 value="{{ form.password2.value|default_if_none:'' }}"
                 name="password2"
                 class="form-control {% if form.password2.errors %}is-invalid{% endif %}" />
          <div class="invalid-feedback">
            {{ form.password2.errors.0 }}
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-primary">
          Зарегистрироваться
        </button>
      </form>
      <hr />
      <p class="text-center">
        Уже есть аккаунт?
        <a class="text-decoration-none"
           href="{% url 'login' %}">
          Войти
        </a>
      </p>
    </div>
  </div>
{% endblock %}
